# Discord Bot Token from the Dev Dashboard
BOT_TOKEN=your_bot_token_here

# MongoDB URI for connecting to the database
MONGO_URI=local_mongodb_or_remote_mongodb_uri_here
DB_NAME=database_name_to_use_in_cluster

# Health Check Configuration
HEALTH_CHECK_PORT=port_number_for_health_check
HEALTH_CHECK_PATH="{/}path_for_health_check"

# Webhook URL for reporting unknown exceptions
UNKNOWN_EXCEPTION_WEBHOOK_URL=your_webhook_url_here

# Default color for the bot (in hex format, without #)
DEFAULT_BOT_COLOR=default_hex_color_here

# Environment (development, staging, production)
ENV=development

# Optional: Enable or disable shutdown procedures
SHUTDOWN_IS_ENABLED=true_or_false (recommended: true)
