# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# fumadocs-mdx codegen
/.source/

# cloudflare
/.wrangler/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
next-env.d.ts

# vercel
.vercel

# typescript
*.tsbuildinfo
